// banner
.banner
  background-color: $black
  background-image: url('../img/vine.jpg')
  height: 500px
  width: auto
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 30%
  position: relative
  &--ground
    background-image: url('../img/banner-ground.jpg')
    height: 400px
    background-position: 0 100%
  &--orange
    background-image: url('../img/orange-background.jpg')
    height: 300px
    background-position: 0 75%
    margin-top: 100px
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__wrap
    border: 1px dashed red
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    // position: relative
  &__header
    color: $white
    font-size: 90px
    font-weight: 200
    margin-bottom: 0
    position: relative
    transform: translateX(-50%)
    line-height: 30px
    // &--first
    //   position: relative
    //   &:before
    //     content: ""
    //     background-image: url('../img/cap.jpg')
    //     background-size: 100% 100%
    //     position: absolute
    //     height: 150px
    //     width: 150px
   
    

    
// banner END