// banner
.banner
  background-color: $black
  background-image: url('../img/vine.jpg')
  height: 500px
  width: auto
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 30%
  position: relative
  &--ground
    background-image: url('../img/banner-ground.jpg')
    height: 400px
    background-position: 0 100%
// banner END