// gallery
.gallery
  background-color: $black
  margin-bottom: 20px
  background-size: 120%
  background-position: 0, 30%
  height: 290px
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden
  &__img
    object-fit: cover
    display: flex
    width: 100%
    height: 100%
    overflow: hidden
    transition: 0.3s ease-in
    position: relative
    &:hover
      opacity: 0.5
      height: 100%
      width: 100%
      transform: scale(1.2)
      transition: 0.3s ease-out