//header
<<<<<<< HEAD
.header
  &__list
    display: flex
    padding: 30px
    justify-content: space-around
  &__link
    color: #2d2c2e
    font-size: 25px
    text-transform: uppercase
    padding-left: 20px
    &--icon
      padding-left: 0
      padding-right: 5px
    &:hover
      text-decoration: none
      color: #2d2c2e
  &__icons
    position: relative
    // display: block
    &:after
      position: absolute
      content: ''
      height: 3px
      width: 30px
      background-color: #2d2c2e
    &:before
      position: absolute
      content: ''
      height: 3px
      width: 30px
      background-color: #2d2c2e
      top: 70%
      left: 100%
//header END

  
=======
.highlight 
	background: #eee
	font-weight: bold


.photos 
	display: none


.comments 
	display: none


.per-night 
	position: relative
	display: block


.per-night 
	opacity: 0

h1, p
  text-align: center


.homepage-wrapper
  width: 600px
  border-radius: 4px
  margin: 0 auto

#vacations-wrapper, #tours-wrapper
  background: #172027
  color: white
  width: 600px
  border-radius: 4px
  margin: 0 auto
  padding: 30px


.list, .sorting
  list-style: none

.sorting
  a
    color: #007876
    font-weight: 600
    letter-spacing: 0.5px
    font-size: 18px

// level 2
#tours-wrapper
  width: 1200px
  padding-top: 60px
  padding-bottom: 60px
  position: relative
  background-color: #104A56
  h1
    text-align: left

#tours
  display: flex
  justify-content: space-between
  padding-left: 0
  li
    width: 100%
    // border: 1px dashed orange
    list-style: none
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
  .america, .europe, .asia
    background: #172027
    margin: 0 10px
    padding: 20px
    border-radius: 2px
  .details
    background: #007876
    width: 100%
    padding: 10px
    border-radius: 2px
    text-align: center


.vote
  padding-top: 10px
  display: flex
  justify-content: center
  padding-left: 0
  margin-bottom: 20px
  li
    &:first-of-type
      margin-right: 10px
  a
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    background-color: #91D478
    border-radius: 2px
.sorting
  display: flex
  position: absolute
  top: 60px
  right: 0
  li
    margin-right: 30px
  a
    font-size: 24px
    color: #F9F871

// level 2
//header END
>>>>>>> bdb2913d5a3e2e73f24f7d2e941eeaea8d6fa18b
