//header
.header
  &__list
    display: flex
    padding: 30px
    justify-content: space-around
  &__icons
    position: relative
    &:after
      position: absolute
      content: ''
      height: 3px
      width: 30px
      background-color: #2d2c2e
    &:before
      position: absolute
      content: ''
      height: 3px
      width: 30px
      background-color: #2d2c2e
      top: 70%
      left: 100%
  &__img
    height: 30px
    width: 30px
//header END
