//header
.header
  &__list
    display: flex
    padding: 30px
    justify-content: space-around
  &__icons
    position: relative
    &:after
      position: absolute
      content: ''
      height: 3px
      width: 30px
      background-color: $light-black
    &:before
      position: absolute
      content: ''
      height: 3px
      width: 30px
      background-color: $light-black
      top: 70%
      left: 100%
  &__img
    &--lupe
      height: 30px
      width: 30px
//header END
