// link
.link
  &:hover
    text-decoration: none
    color: $light-black
  &--header
    color: $light-black
    font-size: 25px
    text-transform: uppercase
    padding-left: 20px
  &--icon
    padding-left: 0
    padding-right: 5px
    height: 30px
    width: 30px
  &--feature
    color: $green
    font-size: 30px
    padding-left: 15px
    &:hover
      color: $light-green
      transition: 1s ease
  &--veg
    padding-top: 20px
    color: $light-black
    font-size: 30px
  &--board
    color: white
    text-transform: uppercase
    font-size: 20px
    background-color: $green
    display: flex
    align-items: center
    justify-content: center
    height: 50px
    width: 150px
    transition: 0.5s
    padding-top: 5px
    &:hover
      color: $white
      text-decoration: none
      background-color: $light-green
  &--team
    color: $white
    font-size: 30px
    transition: 0.3s
    line-height: 1
    &:hover
      color: $light-green
      text-decoration: none
      color: $light-green
      transition: 0.3s
  // &--gallery
  //   position: absolute
  //   color: $white
  //   text-decoration: none
  //   transform: translateY(50px)
// link END




    