//  vegetable border: 1px dashed red
.vegetable
  &--big
    background-image: url("../img/organic-veg.jpg")
    height: 715px
    background-position: 0 50%
  &--small
    display: flex
    flex-direction: column
    height: 363px
    margin: 10px
    align-items: center
  &--wrap
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
  &__img
    background-color: $light-grey
    border: 10px solid $light-grey
    height: 250px
    transition: 0.5s ease
    &:hover
      background-color: $grey
      transition: 0.5s ease
  &__text
    font-size: 23px
    letter-spacing: 0
    color: $green
    &--corrected
      color: $grey
      text-decoration: line-through


    


//  vegetable END